<ion-header class="header-principal">
    <ion-toolbar class="py-2 py-sm-3">
        <ion-buttons slot="start">
            <ion-menu-button class="notificacion"></ion-menu-button>
            <img class="img-logo-gs mx-3" src="../../assets/images/gs_logo_sm.png" />
            <img class="img-logo-core mx-3" src="../../assets/images/core_logo.svg" />
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button mat-button [matMenuTriggerFor]="menuNotifications" class="notificacion">
                <ion-badge color="primary" *ngIf="countAlerts > 0"></ion-badge>
                <ion-icon name="notifications"></ion-icon>
            </ion-button>

            <ion-button mat-button [matMenuTriggerFor]="menuUsuario">
                <ion-chip class="perfil">
                    <ion-label class="ion-text-capitalize ion-text-wrap nombre-asesor">
                        {{ userLogin?.nombre !== "" ? userLogin?.nombre : "Usuario" }} {{ userLogin?.apellido }}
                    </ion-label>
                    <ion-avatar *ngIf="userLogin?.imagen === ''">
                        <ion-icon name="person"></ion-icon>
                    </ion-avatar>

                    <img *ngIf="userLogin?.imagen !== ''" class="avatar-user" [src]="userLogin?.imagen" />
                </ion-chip>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- OPCIONES USUARIO -->
<mat-menu #menuUsuario="matMenu">
    <button mat-menu-item routerLink="/dashboard/cambiar-contrasenna">
        Cambiar Contraseña
        <mat-icon>lock</mat-icon>
    </button>
    <button mat-menu-item routerLink="/dashboard/misdatos">
        Editar Perfil
        <mat-icon>manage_accounts</mat-icon>
    </button>
    <button mat-menu-item (click)="cerrarSessionUser()">
        Cerrar Sesion
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-menu>

<!-- NOTIFICACIONES USUARIO -->
<mat-menu #menuNotifications="matMenu" class="menuAlerts" xPosition="before">
    <ion-grid>
        <ion-row class="mb-2">
            <ion-col size="6" class="header-alerts">
                Alertas
            </ion-col>
            <ion-col size="6" class="togglLeidas d-flex ion-justify-content-end">
                <mat-slide-toggle [(ngModel)]="vista" (click)="changeToggle($event)">Mostrar las Leídas</mat-slide-toggle>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12" class="px-2">
                <ion-card class="card-list" *ngFor="let alert of (alerts$ | async)" class="px-2">
                    <ion-card-content class="ion-no-padding">
                        <ion-row>
                            <ion-col size="12" class="tipo d-flex ion-align-items-center">
                                <ion-icon name="chatbox-ellipses" class="icon-chat me-2"></ion-icon>
                                {{ alert.tipo }}
                            </ion-col>
                            <ion-col size="12" class="descripcion">
                                {{ alert.descripcion }}
                            </ion-col>
                        </ion-row>

                        <ion-row class="ion-justify-content-center ion-align-items-center">
                            <ion-col [size]="!alert.visto ? 6 : 12" class="fecha">
                                {{ alert.fecha | date : "dd/MM/YYYY" }}, {{ alert.fecha | date : "hh:mm a" }}
                            </ion-col>

                            <ion-col size="6" *ngIf="!alert.visto" class="btn-alert d-flex ion-justify-content-end">
                                <ion-button mat-button color="primary" (click)="marcarLeido(alert, $event)">
                                    <ion-icon name="checkmark-done-outline" class="me-2"></ion-icon>
                                    Marcar Leída
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>

        </ion-row>
    </ion-grid>
</mat-menu>
