.finish-grid {
    .icon-finalizado {
        color: #0C3A5C;
        font-size: 5.5rem;
        padding: 1rem;
    }
    .titulo-finalizado {
        font-size: 26px;
    }
    .subtitulo-finalizado {
        font-size: 16px;
    }
}
