.content-home {
    .nombre-usuario {
        font-size: 26px;
    }
    .ultima-conexion {
        font-size: 12px;
        font-family: "Mulish-Regular";
        color: #9FA2B4;
    }
    ion-button.boton-home {
        min-height: 45px;
    }
    .content-video {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .content-home {
        .nombre-usuario {
            font-size: 1.3rem;
        }
    }
}