.content-detalle-solicitud {
    .titulo-solicitud {
        font-weight: bold;
        padding-bottom: 0;
    }
    .detalle-solicitud {
        font-family: 'Mulish-Regular';
        margin-bottom: 1rem;
    }
}