<ion-grid class="grid-login w-100 ion-no-padding overflow-auto py-5 bg-primary-core">
    <ion-row class="row-form ion-justify-content-center ion-align-items-center">
        <ion-col size="10">
            <form [formGroup]="formData">
                <ion-card class="ion-no-margin ion-padding">
                    <ion-card-header class="text-center ion-padding">
                        <ion-grid class="ion-no-margin">
                            <ion-row class="ion-justify-content-center ion-align-items-center">
                                <ion-col size="6" class="ion-text-center p-2">
                                    <img class="img-logo-gs" src="../assets/images/gs_logo.png" />
                                </ion-col>
                                <ion-col size="6" class="ion-text-center p-2">
                                    <img class="img-logo-core" src="../assets/images/core_logo.svg" />
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-header>

                    <ion-card-content class="ion-no-padding">
                        <ion-row class="row-form ion-justify-content-center ion-align-items-center">
                            <ion-col size="12" class="ion-padding">
                                <ion-label position="stacked">Correo</ion-label>
                                <ion-input formControlName="email" type="email" fill="outline" mode="md"></ion-input>
                                <ion-text color="danger" class="form-error" *ngIf="formData.controls['email'].value && formData.controls['email'].invalid && (formData.controls['email'].touched || formData.controls['email'].errors)">
                                    E-mail Invalido
                                </ion-text>
                            </ion-col>

                            <ion-col size="12" class="ion-padding">
                                <ion-label position="stacked">Password</ion-label>
                                <ion-input type="password" formControlName="password" (keydown.enter)="login()" fill="outline" mode="md"></ion-input>
                                <ion-text color="danger" class="form-error" *ngIf="formData.controls['password'].value && formData.controls['password'].invalid && (formData.controls['password'].touched || formData.controls['password'].errors)">
                                    Ingrese el Password
                                </ion-text>
                            </ion-col>

                            <ion-col size="12" class="ion-padding ion-text-end">
                                <a class="text-muted" style="text-decoration: none; cursor: pointer" (click)="handlerModal()">¿Olvidaste tu contraseña?</a>
                            </ion-col>

                            <ion-col size="12" class="ion-padding-horizontal ion-padding-vertical ion-text-center">
                                <ion-button color="primary" class="w-100" (click)="login()">
                                    Entrar
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </form>
        </ion-col>
    </ion-row>
</ion-grid>