<ion-content class="content-principal ion-padding content-home">
    <ion-grid class="custom_container">
        <ion-row>
            <ion-col size="12" class="titulo-modulo">
                Calendarización
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" class="subtitulo-modulo pt-5 pb-4">
                Agenda
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6" class="text-center">
                <ion-toggle labelPlacement="stacked" alignment="center" [checked]="true">AGENDA CORE</ion-toggle>
            </ion-col>
            <ion-col size="6" class="text-center">
                <ion-toggle labelPlacement="stacked" alignment="center" [checked]="true">MI AGENDA</ion-toggle>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12" class="px-2">

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12" class="px-2">
                <app-calendario></app-calendario>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12" class="subtitulo-modulo pt-4">
                NUEVA SESIÓN PRIVADA
            </ion-col>
            <ion-col size="12" class="pb-4">
                <ion-button color="primary" [routerLink]="'/dashboard/sesion/'">
                    <ion-icon slot="icon-only" name="add" class="px-5"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>