<ion-card class="card-filter">
    <ion-card-header *ngIf="header">
        <ion-card-subtitle>{{ header }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
        <ion-grid class="custom_container">
            <ion-row>
                <ion-col size="12">
                    <ion-input class="input-search" fill="outline" placeholder="Buscar..." [(ngModel)]="query"></ion-input>
                </ion-col>
                <ion-col size="12" class="ion-text-center mt-2">
                    <ion-button *ngIf="!isFilter" color="secondary" class="button-filter" (click)="search()" [disabled]="!query">
                        Buscar
                    </ion-button>
                    <ion-button *ngIf="isFilter" color="primary" class="button-filter" (click)="clearSearch()">
                        Limpiar
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>