<ion-header>
    <ion-toolbar>
        <ion-buttons slot="primary">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding modal-sesion-activa">
    <ion-grid fixed class="px-3">
        <ion-row class="ion-justify-content-center mb-4">
            <ion-col size="12" class="title-modal text-center">
                Sesión
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col size="12" class="titulo-card">
                Sesión
            </ion-col>

            <ion-col size="12" class="detalle-card">
                {{ sessionData?.tipo }}
            </ion-col>

            <ion-col size="12" class="titulo-card">
                Comisión / Subcomisión / Otra
            </ion-col>

            <ion-col size="12" class="detalle-card">
                {{ teamsName }}
            </ion-col>

            <ion-col size="12" class="titulo-card">
                Sesión ID
            </ion-col>

            <ion-col size="12" class="detalle-card">
                {{ sessionData?.id }}
            </ion-col>

            <ion-col size="12" class="titulo-card">
                Descripción
            </ion-col>

            <ion-col size="12" class="detalle-card">
                {{ callData?.invitacion }}
            </ion-col>

            <ion-col size="12" class="titulo-card">
                Fecha
            </ion-col>

            <ion-col size="12" class="detalle-card">
                {{ sessionData?.fecha }}
            </ion-col>

            <ion-col size="12" class="titulo-card">
                Hora
            </ion-col>

            <ion-col size="12" class="detalle-card">
                {{ sessionData?.hora_inicio }}
            </ion-col>

            <ion-row class="mt-sm-4">
                <ion-col size="12" class="h4 mb-0">
                    Asistencia
                </ion-col>
            </ion-row>

            <ion-col size="12" class="">
                <ion-list lines="none">
                    <ion-radio-group class="radio-group-sesion-active" value="end" [(ngModel)]="asistencia">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="6" class="ion-no-padding">
                                    <ion-item class="ion-no-padding">
                                        <ion-radio value="A" labelPlacement="end" justify="start">No</ion-radio>
                                    </ion-item>
                                </ion-col>
                                <ion-col size="6" class="ion-no-padding">
                                    <ion-item class="ion-no-padding">
                                        <ion-radio value="B" labelPlacement="end" justify="start">Si</ion-radio>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-radio-group>
                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row class="text-center mt-3">
            <ion-col size="6" class="asistencia-numero">
                {{ summarySession?.datos_asistencia?.total_presentes ?? '-' }}
            </ion-col>
            <ion-col size="6" class="asistencia-numero">
                {{ summarySession?.datos_asistencia?.total_ausentes ?? '-' }}
            </ion-col>
            <ion-col size="6" class="asistencia-tipo">
                Presentes
            </ion-col>
            <ion-col size="6" class="asistencia-tipo">
                Ausentes
            </ion-col>
        </ion-row>

        <ion-row class="my-3">
            <ion-col size-xs="12">
                <table-attendance [dataSet]="attendanceRecord"></table-attendance>
            </ion-col>
        </ion-row>

        <ion-row class="my-3">
            <ion-col size-xs="12">
                <table-votes [dataSet]="voteData"></table-votes>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<!-- <ion-footer>
    <ion-row class="ion-justify-content-center ion-align-items-center px-3 py-2 ion-text-end">
        <ion-col size="12">
            <ion-button class="btn-verde" [disabled]="true" (click)="saveData()">
                Guardar
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer> -->