.modal-reset-password {
    .title-modal {
        color: #0C3A5C;
    }
    .text-info-email {
        --ion-margin: 50px;
    }
    .btn-recovery {
        --ion-margin: 30px;
    }
    .text-info-send {
        --ion-margin: 30px;
        font-size: 12px;
        font-weight: 600;
    }
}
