<ion-card>
    <ion-card-header>
        <ion-card-subtitle>{{ header }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
        <mat-selection-list #list [(ngModel)]="selected" (ngModelChange)="checked($event)">
            <mat-list-option *ngFor="let item of displayData" checkboxPosition="before" [value]="item">
                {{ item[field] }}
                <mat-divider [inset]="true"></mat-divider>
            </mat-list-option>
        </mat-selection-list>
        <mat-paginator (page)="pageChange($event)" [length]="dataSet?.count" [pageSize]="dataSet?.page_size"></mat-paginator>
    </ion-card-content>
</ion-card>