<ion-content class="content-principal ion-padding content-sesion-privada">
    <form [formGroup]="formData">
        <ion-grid class="custom_container">
            <ion-row>
                <ion-col size="12" class="titulo-modulo">
                    Calendarización
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" class="pt-4 pb-4">
                    <ion-breadcrumbs mode="ios" class="ion-no-padding">
                        <ion-breadcrumb [routerLink]="'/dashboard/calendarizacion/'">Agenda</ion-breadcrumb>
                        <ion-breadcrumb [routerLink]="'/dashboard/sesion/'">Sesión Privada</ion-breadcrumb>
                    </ion-breadcrumbs>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" class="subtitulo-modulo text-uppercase">
                    Sesión Privada
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" class="px-2">
                    <mat-calendar [selected]="selectedDate" (selectedChange)="selectedDate = $event; handleDate($event);"></mat-calendar>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" class="px-2">
                    <ion-label position="stacked">Hora Inicio</ion-label>
                    <ion-input type="time" formControlName="hora_inicio" fill="outline" mode="md"></ion-input>
                    <ion-text color="danger" class="form-error" *ngIf="formData.controls['hora_inicio'].value && formData.controls['hora_inicio'].invalid && (formData.controls['hora_inicio'].touched || formData.controls['hora_inicio'].errors)">
                        Ingrese la Hora de Inicio
                    </ion-text>
                </ion-col>

                <ion-col size="12" class="py-3 px-2">
                    <ion-label position="stacked">Hora Termino</ion-label>
                    <ion-input type="time" formControlName="hora_fin" fill="outline" mode="md"></ion-input>
                    <ion-text color="danger" class="form-error" *ngIf="formData.controls['hora_fin'].value && formData.controls['hora_fin'].invalid && (formData.controls['hora_fin'].touched || formData.controls['hora_fin'].errors)">
                        Ingrese la Hora Termino
                    </ion-text>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" class="ion-no-padding">
                    <dynamic-filter (onSearch)="handleFilter($event)" (onClearSearch)="handleClearFilter()" />
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" class="ion-no-padding">
                    <dynamic-list header="Consejero/a" [dataSet]="users" [field]="'nombre'" (onChecked)="handleSelectUser($event)"></dynamic-list>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" class="px-2">
                    <ion-label position="stacked">Invitación</ion-label>
                    <ion-textarea formControlName="invitacion" rows="5" fill="outline" mode="md"></ion-textarea>
                    <ion-text color="danger" class="form-error" *ngIf="formData.controls['invitacion'].value && formData.controls['invitacion'].invalid && (formData.controls['invitacion'].touched || formData.controls['invitacion'].errors)">
                        Ingrese la Invitación
                    </ion-text>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" class="pb-4">
                    <ion-button color="secondary" class="w-100" (click)="handleSubmit()">
                        Confirmar
                    </ion-button>
                </ion-col>
            </ion-row>

        </ion-grid>
    </form>

    <dynamic-page-result *ngIf="isShowResult" [message]="messageResult" (onClickBtn)="handlePageResultEvent()"></dynamic-page-result>

</ion-content>