/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "theme/variables.scss";

/* GLOBALS FONTS */

@font-face {
    font-family: "Mulish-Light";
    src: url("/assets/fonts/Mulish-Light.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Mulish-Medium";
    src: url("/assets/fonts/Mulish-Medium.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Mulish-Regular";
    src: url("/assets/fonts/Mulish-Regular.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Mulish-Black";
    src: url("/assets/fonts/Mulish-Black.woff") format("woff");
}

@font-face {
    font-family: "Mulish-SemiBold";
    src: url("/assets/fonts/Mulish-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Mulish-Bold";
    src: url("/assets/fonts/Mulish-Bold.woff") format("woff");
}

body {
    font-weight: 700;
    font-size: 16px;
}


/* GLOBALS CLASS */

.bg-primary-core {
    background-color: var(--ion-color-primary) !important;
}

.card-content-md {
    font-size: 16px;
}

.content-principal {
    --background: #F7F8FC;
    .titulo-modulo {
        font-size: 20px;
        //font-family: "Mulish-Black";
    }
    .subtitulo-modulo {
        font-size: 18px;
    }
}

ion-button {
    text-transform: initial;
}

.breadcrumb-native {
    padding-inline: 0 !important;
}

.sc-ion-input-md-h:not(.legacy-input),
ion-select.select-fill-outline:not(.legacy-select) {
    min-height: 46px;
    --background: #FFFFFF;
}

.sc-ion-textarea-md-h:not(.legacy-textarea) {
    --background: #FFF;
}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    background-color: #FFFFFF;
}

.form-error {
    font-size: 12px;
}

.breadcrumb-native {
    border-radius: 4px;
    padding-inline: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid transparent;
}

@media (max-width: 576px) {
    body {
        font-size: 0.9rem;
    }
    .content-principal .titulo-modulo {
        font-size: 1.1rem;
    }
    .content-principal .subtitulo-modulo {
        font-size: 1rem;
    }
    .card-content-md {
        font-size: 0.9rem;
    }
}