<ion-header>
    <ion-toolbar>
        <ion-buttons slot="primary">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-grid fixed class="px-3">
        <ion-row class="ion-justify-content-center mb-3">
            <ion-col size="12" class="title-modal text-center pt-0">
                {{ title }}
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content class="ion-no-padding modal-sesion">
    <ion-grid fixed class="px-3">
        <ion-row>
            <ion-col size="12" class="titulo-card">
                Sesión
            </ion-col>

            <ion-col size="12" class="detalle-card">
                {{ sessionData?.tipo }}
            </ion-col>

            <ion-col size="12" class="titulo-card">
                Comisión / Subcomisión / Otra
            </ion-col>

            <ion-col size="12" class="detalle-card">
                {{ teamsName }}
            </ion-col>

            <ion-col size="12" class="titulo-card">
                Sesión ID
            </ion-col>

            <ion-col size="12" class="detalle-card">
                {{ sessionData?.id }}
            </ion-col>

            <ion-col size="12" class="titulo-card">
                Descripción
            </ion-col>

            <ion-col size="12" class="detalle-card">
                {{ callData?.invitacion }}
            </ion-col>

            <ion-col size="12" class="titulo-card">
                Fecha
            </ion-col>

            <ion-col size="12" class="detalle-card">
                {{ sessionData?.fecha }}
            </ion-col>

            <ion-col size="12" class="titulo-card">
                Hora
            </ion-col>

            <ion-col size="12" class="detalle-card">
                {{ sessionData?.hora_inicio }}
            </ion-col>

            <ion-col size="12" class="titulo-card" *ngIf="callData">
                Link de ZOOM
            </ion-col>

            <ion-col size="12" class="detalle-card" *ngIf="callData">
                <a target="_blank" [href]="callData.link_zoom">
                            {{ callData.link_zoom }}
                        </a>
            </ion-col>

            <ion-col size="12" class="text-center">
                <ion-button color="primary" class="btn-modal-sesion" (click)="handlePdf()">
                    Visualizar Tabla
                </ion-button>
            </ion-col>

            <ion-col size="12" class="text-center" *ngIf="sessionData?.estatus === 'CERRADA'">
                <ion-button color="primary" class="btn-modal-sesion" (click)="openModalResumen()">
                    Resumen de Sesión
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row class="mt-5" *ngIf="sessionData?.estatus === 'CREADA'">
            <ion-col size="12" class="h5 mb-0">
                Convocatoria
            </ion-col>
        </ion-row>

        <ion-row class="my-3" *ngIf="sessionData?.estatus === 'CREADA'">
            <ion-col size-xs="12">
                <table-votes [dataSet]="voteData"></table-votes>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<!-- <ion-footer>
    <ion-row class="ion-justify-content-center ion-align-items-center px-3 py-2 ion-text-end">
        <ion-col size="12">
            <ion-button class="btn-verde" [disabled]="true" (click)="saveData()">
                Guardar
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer> -->
