.title-modal {
    color: #0C3A5C;
    font-size: 2rem;
}

.modal-sesion {
    .titulo-card {
        font-weight: bold;
        padding-bottom: 0;
        color: #626262;
    }
    .detalle-card {
        font-family: 'Mulish-Regular';
        margin-bottom: 1rem;
        color: #101828;
    }
    .btn-modal-sesion {
        width: 200px;
    }
}
